html {
    background-color: black;
}

@font-face {
    font-family: 'Open 24 Display ST';
    src: url(./font/open24.ttf);
}

@font-face {
    font-family: 'Impact Label Reversed Regular';
    src: url('./font/Impact_Label_Reversed.ttf');
}

@font-face {
    font-family: 'License Plate USA';
    src: url('./font/LICENSE_PLATE_USA.ttf');
}

@font-face {
    font-family: 'Bellerose';
    src: url('./font/Bellerose.ttf');
}

.main-view {
    animation: rotateAnimation 1s linear both;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*########## SPIN ANIMATION ##########*/

@keyframes rotateAnimation {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(180deg);
    }
}


/*########## WRAPPER AND DIVS ##########*/

.timer-wrapper {
    position: relative;
    background-color: #3a3a3a;
    background-image: url('./img/grunge.png');
    padding: 0.5em 0.5em;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.time-row {
    width: 100%;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(0 0 0 / 70%);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(88, 88, 88), 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

.time-date-row {
    margin: 0 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*########## DISPLAYS AND LABELS ##########*/

.dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.small-dot {
    margin-left: 0.3em;
    margin-right: 0.3em;
    height: 10px;
    width: 10px;
    background-color: #785806;
    border-radius: 50%;
    display: inline-block;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.label {
    background-color: #7f050b;
    color: #c7c7c7;
}

.label.time {
    margin-top: 0.5em;
}

.label.time, .alarm-clock, .time-circuits {
    background-color: black;
}

.label.time > h1 {
    margin: 0 0.5em;
    font-family: 'Impact Label Reversed Regular';
}

*:is(.am, .pm) > .icon:not(.active) {
    background-color: #bbb !important;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

*:is(.month,.day,.year, .am-pm-selector, .hour, .minute) {
    margin-right: 1em;
}

*:is(.month,.day,.year, .am-pm-selector, .hour, .minute) > .label {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Impact Label Reversed Regular';
    margin: 0.2em 0.5em;
}

.am-pm-selector > *:is(.am,.pm) > .label {
    font-family: 'Impact Label Reversed Regular';
}


*:is(.month,.day,.year, .am-pm-selector, .hour, .minute) > .value {
    display: flex;
    font-size: 4em;
    text-align: center;
    background-color: black;
    font-family: 'Open 24 Display ST';
    justify-content: center;
    align-items: end;
    height: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

/*########## BLINKER FOR SECONDS ##########*/

.seconds-blinker {
    margin-top: 2.5em;
    margin-right: 1em;
}

.seconds-blinker > *:is(.seconds-blinker-top,.seconds-blinker-bottom) > .dot {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

/*########## LCD COLOR SCHEME ##########*/

.destination-time > .time-date-row > *:is(.month,.day,.year, .am-pm-selector, .hour, .minute) > .value {
    color: #fd4818;
    text-shadow: 0 0 10px rgb(253, 72, 24), 0 0 5px rgb(253, 72, 24);
}

.destination-time > .time-date-row > .seconds-blinker > *:is(.seconds-blinker-top,.seconds-blinker-bottom) > .dot.active {
    background-color: #fd4818;
}

.destination-time > .time-date-row > .am-pm-selector > *:is(.am, .pm) > .icon.active {
    background-color: #fd4818;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.present-time > .time-date-row > *:is(.month,.day,.year, .am-pm-selector, .hour, .minute) > .value {
    color: #3cd048;
    text-shadow: 0 0 10px rgb(60, 208, 72), 0 0 5px rgb(60, 208, 72);
}

.present-time > .time-date-row > .seconds-blinker > *:is(.seconds-blinker-top,.seconds-blinker-bottom) > .dot.active {
    background-color: #3cd048;
}

.present-time > .time-date-row > .am-pm-selector > *:is(.am, .pm) > .icon.active {
    background-color: #3cd048;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.last-departure-time > .time-date-row > *:is(.month,.day,.year, .am-pm-selector, .hour, .minute) > .value {
    color: #f99a2c;
    text-shadow: 0 0 10px rgb(249, 154, 44), 0 0 5px rgb(249, 154, 44);
}

.last-departure-time > .time-date-row > .seconds-blinker > *:is(.seconds-blinker-top,.seconds-blinker-bottom) > .dot.active {
    background-color: #f99a2c;
}

.last-departure-time > .time-date-row > .am-pm-selector > *:is(.am, .pm) > .icon.active {
    background-color: #f99a2c;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

/*########## LOWER UTILITIES ROW ##########*/
.utilities-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.utilities-row > div:first-of-type {
    margin-left: 0;
}

.utilities-row > div:last-of-type {
    margin-right: 0;
}

.decider-time-circuit-vs-alarm-clock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.decider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.decider > .arrow-left {
    margin-right: 0.5em;
}

.decider > .arrow-right {
    margin-left: 0.5em;
}

*:is(.time-circuits,.alarm-clock) > h3 {
    color: #979797;
    margin: 0 0.5em;
    font-family: 'Impact Label Reversed Regular';
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #251912;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fea004;
}

.arrow-left, .arrow-right {
    z-index: 10;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.flash-icon {
    float: left;
}

.flash-icon, .alarm-clock-icon {
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flash-icon-wrapper, .alarm-clock-icon-wrapper {
    background-color: black;
}

.lower-row-icon {
    padding: 0.1em;
    height: 1em;
    width: 1em;
    filter: invert(100%);
}

/*TIME TRAVEL NOTICE NUDGE*/
.glow-animation {
    animation: neon1 1s ease-in-out infinite alternate;
    animation-delay: 5s;
}

@keyframes neon1 {
    0% {

    }
    50% {

    }
    100% {
        text-shadow: 0 0 1px #fd4818, 0 0 2px #fd4818, 0 0 3px #fd4818, 0 0 4px #fff,
        0 0 5px #fff;
    }
}

/*########## EXPLOSION CANVAS ##########*/
#explosion-canvas {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/*########## WHITE BLAST ##########*/
.white-blast {
    animation: white-blast 0.05s 2 alternate;
}

@keyframes white-blast {
    0% {

    }
    100% {
        filter: blur(3px) brightness(500%);
        background-color: white
    }
}

/*########## NUMBER PLATE ##########*/
.number-plate-wrapper {
    z-index: -3;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.number-plate {
    border-radius: 1em;
    width: 100%;
    height: 100%;
    background-color: #cdc1b4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: inset 0px 0px 0px 6px rgba(229, 229, 229, 0.3), inset 0px 0px 0px 18px rgba(70, 70, 70, 0.15), inset 0px 0px 0px 24px rgba(157, 157, 157, 0.3);
    -moz-box-shadow: inset 0px 0px 0px 6px rgba(229, 229, 229, 0.3), inset 0px 0px 0px 18px rgba(70, 70, 70, 0.15), inset 0px 0px 0px 24px rgba(157, 157, 157, 0.3);
    box-shadow: inset 0px 0px 0px 6px rgba(229, 229, 229, 0.3), inset 0px 0px 0px 18px rgba(70, 70, 70, 0.15), inset 0px 0px 0px 24px rgba(157, 157, 157, 0.3);
}

.top-row {
    margin-top: 0em;
    width: 100%;
}

.top-row > .text-content {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.top-row > .sun-lines {
    position: absolute;
    top: 0;
    margin-top: 4em;
    width: 100%;
    height: 4em;
    background-size: auto auto;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 10px, rgb(220, 127, 31) 10px, rgb(220, 127, 31) 20px);
}

.top-row > .text-content > .aug {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: 1.1em;
    width: 2em;
    z-index: 100;
    font-family: 'License Plate USA';
    font-size: 3em;
    font-weight: bold;
    color: #83281E;
    background-size: auto auto;
    background-color: rgb(205, 193, 180);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(131, 40, 30, 1) 2px, rgba(131, 40, 30, 1) 4px );
}

.top-row > .text-content > .california {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 100;
    font-family: Bellerose;
    font-size: 4em;
    font-weight: bold;
    color: #83281E;

}
.top-row > .text-content > .california > .sun {
    position: absolute;
    top: 0;
    margin-top: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -50;
    background-blend-mode: normal;
    background: radial-gradient(ellipse at center,  #DC7F1FFF 0%,#DC7F1FFF 47%,#DC7F1FFF 47%, rgba(255, 255, 255, 0) 47%);
    width: 150px;
    height: 150px;
}

.top-row > .text-content > .registration {
    margin: 0.5em;
    height: 3.5em;
    width: 5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: stretch;
    background-color: #E89811;
    z-index: 100;
    font-size: 1em;
    font-weight: bold;
    color: #000000;
}

.top-row > .text-content > .registration > .flex-break {
    flex-basis: 100%;
    height: 0;
}

.top-row > .text-content > .registration > .bigger-font {
    font-size: 1.5em;
}

.number-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 10em;
    color: #171D73;
    font-family: 'License Plate USA';
    -webkit-text-stroke: 6px rgba(229, 229, 229, 0.3);
}

.slogan-row {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #E38114;
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
}
